/*TODO - need to add media queries here for scren sizing*/
.service-container{
    margin-top: 50px;
    height: 100%;
    display:flex;
    flex-direction: column;
}

.service-container .service-footer{
    padding-top: 40px;
    flex-shrink: 0;
}

.service-container .service-mid-container{
    background-image: url('../resources/freepik/ODRAX20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    /*shadow*/
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;

    flex: 1 0 auto;
}

.service-container .service-mid-container h3{
    text-align: center;
}

.service-container .service-mid-container .service-flexbox{
    position: center;
    display: flex;
    flex-flow: row wrap;
    width: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service-container .service-mid-container .service-flexbox .service-webCard-container{
    padding: 10px;
}