.service-container{
    margin-top: 50px;
    height: 100%;
}

.service-container .service-footer{
    padding-top: 40px;
}

.service-container .service-mid-container{
    background-image: url('../resources/freepik/ODRAX20.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 70%;
    padding-bottom: 10px;
}

.service-container .service-mid-container h3{
    text-align: center;
    padding: 25px;
}

.service-container .service-mid-container .service-flexbox{
    position: center;
    display: flex;
    flex-flow: row wrap;
}