/* ---------------------------------------------------------------------------------------------------------- Global */
h1{font-family: 'Permanent Marker', cursive;}
h2{font-family: 'Courgette', cursive;}
h3{font-family: 'Teko', sans-serif;}
p{font-family: 'Nunito', sans-serif;}
/* --------------------------------------------------------------------------------------------------- Media Queries */
/* Smartphones (portrait and landscape) */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    :root{
        --maxWidth: '480px';
        --minWidth: '320px';
    }
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {
    :root{

    }
}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    :root{

    }
}

/* iPads (portrait and landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    :root{

    }
}

/* iPads (landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    :root{

    }
}

/* iPads (portrait) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    :root{

    }
}

/* Desktops and laptops */
@media only screen and (min-width : 1224px) {
    :root{

    }
}

/* Large screens */
@media only screen and (min-width : 1824px) {
    :root{

    }
}

/* iPhone 4 - 5s */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
    :root{

    }
}

/* iPhone 6 */
@media only screen and (max-device-width: 667px), only screen and (-webkit-device-pixel-ratio: 2) {
    :root{

    }
}

/* iPhone 6+ */
@media only screen and (min-device-width : 414px), only screen and (-webkit-device-pixel-ratio: 3) {
    :root{

    }
}

/* Samsung Galaxy S7 Edge */
@media
only screen and (-webkit-min-device-pixel-ratio: 3) and (min-resolution: 192dpi)and (max-width:640px) {
    :root{

    }
}
/* ------------------------------------------------------------------------------------------------------ Components */
/* ----------------------------------------------- Modal */
.custom-modal{
    width: 70%;
    text-align: center;
}
/* ------------------------------------------------ Menu */
.menu_logo{
    position: absolute;
    width: 120px;
    height: 120px;
}
/* ---------------------------------------------- Footer */
.footer{
    position: absolute;
    background-color: rgba(50, 50, 50, 0.9);
    width: 100%;
    margin-top: 10px;
}
.footer .footer-list{
    list-style: none;
    margin-left: 0;
}

.footer .footer-list li a{
    color: lightgrey;
}
/* ----------------------------------------------------------------------------------------------------------- Pages */
/* ---------------------------------- App, Html, and Body*/
html,body{
    padding: 0;
    margin: 0;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 100%;

    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
}

.app-container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100% ! important;
}
/* --------------------------------------------- Landing */
.landing-main{
    flex: 1 100%;
    margin-top: 70px;
}

.landing-main h1{
    margin-top: 1px;
    color: black;
    position: relative;
    alignment: center;
    text-align: center;
    padding-top: 10px;
}

.center-carousel{
    position: relative;
    alignment: center;
    min-width: 40%;
    max-width: 840px;
    margin: 0 auto;
    padding: 25px;
}

.center-carousel ~ img {
    width: 840px;
    height: 400px;
}
/* --------------------------------------------- AboutUs */
.about-container{
    width: 100%;
    margin-top: 50px;
}

.about-container .about-header{
    width: 100%;
    height: 150px;    /* TODO - take out all these url's in the css */
    background-image: url('https://dl.dropboxusercontent.com/s/4b8it4x7nfkefbs/2144.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.about-container .about-header h1, h2, h3{
    text-align: center;
}

.about-context{
    position: relative;
    margin: 0;
}

.about-container .about-context .about-list{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    max-width: 70%;
}
/* ------------------------------------------- ContactUs */
.contact-container{
    margin-top: 50px;
}

.contact-container .contact-header{
    width:100%;
    height:400px;
    background-image: url('https://dl.dropboxusercontent.com/s/x1detiu8flqq3cq/1024.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.contact-container h1,h2,h3,p{
    margin-top: 1px;
    color: black;
    #position: relative;
    alignment: center;
    text-align: center;
    padding-top: 10px;
}

.contact-container p{
    font-size: 20px;
}

.contact-container .contact-header .contact-a-container{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.contact-container .contact-header .contact-a-container .contact-social-badge{
    border-radius: 5px;
    height: 150px;
    width: 150px;
    display: block;
}

.contact-container .bottom-container{
    display: inline-flex;
    height: auto;
    width: 100%;
}

.contact-container .bottom-container .contact-left-bottom{
    width:30%;
    margin-top: 20px;
}

.contact-container .bottom-container .contact-left-bottom .contact-pastor-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
    -moz-box-shadow: 0 0 5px 1px #899;
    -webkit-box-shadow: 0 0 5px 1px #899;
}

.contact-container .bottom-container .contact-right-bottom{
    width:70%;
    margin-top: 20px;
}
/* ------------------------------------------ Ministries */
.about-ministries-container{
    width: 100%;
    margin-top: 50px;
}

.about-ministries-container .about-ministries-header{
    width: 100%;
    height: 150px;
    background-image: url('https://dl.dropboxusercontent.com/s/4b8it4x7nfkefbs/2144.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

.about-ministries-container .about-ministries-header h1, h2, h3{
    text-align: center;
}

.about-ministries-context{
    position: relative;
    width: 50%;
}

.about-ministries-container .about-ministries-context .about-ministries-list{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    width: 50%;
}
/* ------------------------------------------ Directions */
.direction-container{
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.direction-container h1,h3{
    color: black;
    position: relative;
    alignment: center;
    text-align: center;
}

/*TODO - Need to make sure I setup the media querires here for the screen sizes ~ for now it's set to a fullscreen 13" macbook*/
.direction-container .directions-map-container{
    /*min-height:350px;
    max-height:457px;*/
    height: 65%;
    background-image: url('https://dl.dropboxusercontent.com/s/xfjbsqugk29jtmw/102434-OLS3V2-932.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;
}

/*TODO - Need media queries here as well*/
.directions-iframe-gmaps{
    height:65%;
    width: 60%;
    margin-left:20%;
}
/* -------------------------------------------- Services */
.service-container{
    margin-top: 50px;
    height: 100%;
}

.service-container .service-mid-container{
    background-image: url('https://dl.dropboxusercontent.com/s/931csoonk8h0utf/ODRAX20.jpg?dl=0');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    -moz-box-shadow: 0 0 30px 5px #999;
    -webkit-box-shadow: 0 0 30px 5px #999;

    text-align: center;
}

.service-container .service-mid-container .service-flexbox{
    display: flex;
    flex-flow: row wrap;
    width: auto;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}
.service-container .service-mid-container .service-flexbox .service-webCard-container{
    padding: 10px;
}
